# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz
pom.xml.versionsBackup

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~


# system ignore
.DS_Store
Thumbs.db

# gradle output
build/
.gradleBuild/
.gradle/
gradle/
*_.java

/LOG_PATH_IS_UNDEFINED/
/app/web/target/
